{{ 'section-custom-profile.css' | asset_url | stylesheet_tag }}

{% if section.settings.title != blank %}
  <section class="home-banner">
    <div class="page-width">
      <div class="home-banner-caption">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | img_url: '500x' }}" alt="Banner Image">
        {% endif %}
        {% if section.settings.title1 != blank %}
          <h1>{{ section.settings.title1 }}</h1>
        {% endif %}
        {% if section.settings.button-link != blank %}
          <a class="btn" href="{{ section.settings.button-link }}">{{ section.settings.button-label }}</a>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

<section class="home-banner-list">
  <div class="page-width">
    <ul class="hometop_banner_list">
      {% for block in section.blocks %}  
        <li>
          {% if block.settings.title_image != blank %}
            <img src="{{ block.settings.title_image | img_url: '500x' }}" alt="{{ block.settings.title }}" style="width: 100px; margin: auto;">
          {% endif %}
          {% if block.settings.name != blank %}
            <div id="profile-design">Name:
            <h4>{{ block.settings.name }}</h4>
          </div>
          {% endif %}
          {% if block.settings.about_me != blank %}
            <div id="profile-design">About me:
            <p>{{ block.settings.about_me }}</p>
          </div>
          {% endif %}
          {% if block.settings.email != blank %}
            <div id="profile-design">Email:
            <p>{{ block.settings.email }}</p>
          </div>
          {% endif %}
          {% if block.settings.birthday != blank %}
            <div id="profile-design">Birthday:
            <p>{{ block.settings.birthday }}</p>
          </div>
          {% endif %}
          {% if block.settings.address != blank %}
            <div id="profile-design">Address:
            <p>{{ block.settings.address }}</p>
          </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": {
    "en": "Custom Profile"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "title",
      "label": "Switch to On Label",
      "default": true,
      "info": "Toggle to show or hide the headline"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "button-label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button-link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Add Profile",
      "settings": [
        {
          "type": "image_picker",
          "id": "title_image",
          "label": "Profile Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "about_me",
          "label": "About Me"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email"
        },
        {
          "type": "text",
          "id": "birthday",
          "label": "Birthday"
        },
        {
          "type": "text",
          "id": "address",
          "label": "Address"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Custom Profile"
      }
    }
  ]
}
{% endschema %}
