{{ 'section-custom-profile.css' | asset_url | stylesheet_tag }}

{% if section.settings.title != blank %}
  <section class="home-banner">
   <div class="page-width">
     <div class="home-banner-caption">
      {% if section.settings.image != blank %}
         <img src="{{ section.settings.image | img_url: '500x' }}" alt="Banner Image">
      {% endif %}
      {% if section.settings.title1 != blank %}
         <h1>{{ section.settings.title1 }}</h1>
      {% endif %}
      {% if section.settings.button-link != blank %}
         <a class="btn" href="{{ section.settings.button-link }}">{{ section.settings.button-label }}</a>
      {% endif %}
     </div>
  </div>
</section>
{% endif %}

<section class="home-banner-list">
   <div class="page-width">
      <ul class="hometop_banner_list">
          {% for block in section.blocks %}  
              <li>
                 {% if block.settings.title_image != blank %}
                    <img src="{{ block.settings.title_image | img_url: '500x' }}" alt="{{ block.settings.title }}" style="width: 100px; margin: auto;">
                 {% endif %}
                 {% if block.settings.title != blank %}
                    <h5>{{ block.settings.title }}</h5>
                 {% endif %}
              </li>
          {% endfor %}
      </ul>
   </div>
</section>

{% schema %}
{
  "name": {
    "en": "Custom Profile"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Image"
    },
    {
      "type": "checkbox",
      "id": "title",
      "label": "Switch to On Label",
      "default": true,
      "info": "Toggle to show or hide the Header"
    },    
    {
      "type": "text",
      "id": "title1",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "button-label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button-link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Add List",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "title_image",
          "label": "Title Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Custom Profile"
      }
    }
  ]
}
{% endschema %}
