{% schema %}
{
  "name": {
    "en": "Custom Profile"
  },
  "settings": [],
  "blocks": [
    {
      "type": "header",
      "name": "Header"
    },
    {
      "type": "grid",
      "name": "Grid",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "blocks_per_row",
          "label": "Blocks Per Row",
          "default": "3",
          "options": [
            { "value": "1", "label": "1" },
            { "value": "2", "label": "2" },
            { "value": "3", "label": "3" },
            { "value": "4", "label": "4" },
            { "value": "5", "label": "5" }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Custom Profile"
      }
    }
  ]
}
{% endschema %}

{{ 'section-custom-profile.css' | asset_url | stylesheet_tag }}

{% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'header' %}
        <div class="custom-page-header">
          <h2>{{ section.settings.name_label }}</h2>
          <p>{{ section.settings.about_label }}</p>
          <p>{{ section.settings.email_label }}</p>
          <p>{{ section.settings.birthday_label }}</p>
          <p>{{ section.settings.address_label }}</p>
        </div>
      {% when 'grid' %}
        <div class="custom-page-grid" style="grid-template-columns: repeat({{ block.settings.blocks_per_row }}, 1fr);">
          {% for content in block.settings.contents %}
            <div class="grid-item">
              <h2>{{ content.title }}</h2>
              <p>{{ content.description }}</p>
            </div>
          {% endfor %}
        </div>
    {% endcase %}
  {% endfor
